{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    

    <section class="bg-gray-50 dark:bg-gray-900">
        <div class="flex flex-col items-center justify-start px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="flex items-center text-2xl font-semibold text-gray-900 dark:text-white">
                <img
                class="w-32 h-32"
                src="{{ asset('images/logo_picto.svg') }}"
                alt="user photo"
                />
            </div>
            <div class="uppercase flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
                Amethyste Design
            </div>
            <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">

            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
            {% endfor %}
            {% for message in app.flashes('info') %}
                <div class="alert alert-info">{{ message }}</div>
            {% endfor %}

                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                        Inscription
                    </h1>
                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        {# {{ form_row(registrationForm.agreeTerms) }} #}
                        <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">S'inscrire</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
