{% extends 'layout/admin.html.twig' %}

{% block title %}Hello ProjetController!{% endblock %}

{% block main %}
<nav class="flex" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
    <li class="inline-flex items-center">
      <a href="#" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
        <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
        </svg>
        Home
      </a>
    </li>
    <li>
      <div class="flex items-center">
        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <a href="#" class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2 dark:text-gray-400 dark:hover:text-white">Projects</a>
      </div>
    </li>
    <li aria-current="page">
      <div class="flex items-center">
        <svg class="rtl:rotate-180 w-3 h-3 text-gray-400 mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
        </svg>
        <span class="ms-1 text-sm font-medium text-gray-500 md:ms-2 dark:text-gray-400">Flowbite</span>
      </div>
    </li>
  </ol>
</nav> 
<section class="flex justify-center bg-gray-50 dark:bg-gray-900 mt-6">
    <div class="flex justify-center container-sections border-gray-300 dark:border-gray-600">
        <a href="{{ path('app_admin_projet_list')}}" class="inline-flex text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
            <svg class="w-6 h-6 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
            </svg>
            Retour vers la liste de projets
        </a>
    </div>
</section>
<section class="bg-gray-50 dark:bg-gray-900 mt-6">
  <div class="flex flex-col items-center">
    <div class="flex flex-row items-start">
        <div class="container-sections border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 m-4 p-4">
            <div>
                <div class="py-2.5 my-4 flex justify-between">
                    <div>
                        <h2 class="text-4xl font-extrabold">{{ projet.title }}</h2>
                    </div>
                    <div>
                      <button id="dropdownButtonEdit" data-dropdown-toggle="dropdownMenuEdit" type="button" class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 22">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"/>
                            </svg>
                            <span class="sr-only">Edition projet</span>
                            &nbsp;Editer le projet
                      </button>

                      <input type="hidden" id="project-id" value="{{ projet.id }}">
                      <div id="dropdownMenuEdit" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-56 dark:bg-gray-700">
                            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownButtonEdit">
                                <li>
                                    <a href="javascript:void(0)" data-action="reorganize" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Réorganiser votre projet</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-action="add_section" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ajouter une section</a>
                                </li>
                            </ul>
                      </div>
                    </div>
                </div>
                <div>

                  {# <form id="uploadForm" enctype="multipart/form-data">
                    <input type="file" id="imageInput" accept="image/*">
                    <img id="imagePreview" style="max-width: 100%; display: none;">
                    <button type="button" id="cropButton">Recadrer et Enregistrer</button>
                  </form> #}
                  
                    {% for section in projet.sections %}
                        {# <h2 class="text-2xl font-bold">Photo LiipImagineBundle</h2> #}
                        {# Par exemple, pour afficher l'image d'une section avec le filtre thumbnail #}
                        {# <img src="{{ vich_uploader_asset(section.photo, 'imageFile') | imagine_filter('thumbnail') }}" alt="{{ section.photo.alt }}"> #}
                        {% if section.description is not empty %}
                            <p>Description : {{ section.description }}</p>
                        {% endif %}
                        <div class="image_section"><img src="{{ vich_uploader_asset(section.photo, 'imageFile') }}" alt="{{ section.photo.alt }}" class=""></div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {# test upload cover image #}
          <div class="flex flex-col items-start justify-center w-ful m-4 img-container">
          <h2 class="text-1xl font-bold">Photo de couverture</h2>
          {# {% set isUploaded = 0 %} #}
            {% if projet.coverPhoto %}
            {# <p>{{isUploaded}}</p> #}
                      <div id="cover_img_container" class="flex flex-col items-start justify-start w-full">
                      
                        <div class="image-container">
                          
                          <img id="cover_img" src="{{ vich_uploader_asset(projet.coverPhoto, 'imageFile') | imagine_filter('thumbnail') }}" alt="Photo de couverture">
                          <div class="overlay">
                              <span class="overlay-text">Modifier</span>
                          </div>
                        </div>
                      </div>
            {% endif %}    
                  {# {% else %} #}
                      <form id="uploadForm" enctype="multipart/form-data">
                        <input type="hidden" id="projetId" name="projet_id" value="{{ projet.id }}">
                        <label for="imageInput" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                            <div id="flowbite_area" class="flex flex-col items-center justify-center pt-5 pb-6">
                                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                </svg>
                                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                            </div>
                          
                        </label>
                        
                        <input id="imageInput" type="file" class="hidden" accept="image/*"/>
                        <img id="imagePreview" style="max-width: 100%; display: none;">
                        <button hidden="true" type="button" id="cropButton" class="text-white bg-blue-700 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enregistrer</button>
                      </form>
                  {# {% endif %} #}
            
              {# <form id="uploadForm" enctype="multipart/form-data">
                    <input type="file" id="imageInput" accept="image/*">
                    <img id="imagePreview" style="max-width: 100%; display: none;">
                    <button type="button" id="cropButton">Recadrer et Enregistrer</button>
              </form> #}
          </div> 
    </div> 
  </div>   
</section>
{% endblock %}
